/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-container > .page-content {
  flex: 1; /* The content area takes the remaining space */
  display: flex;
  flex-direction: column;
}

.page-content .content-area {
  flex: 1;
  overflow-y: auto;
}
